* {
  margin: 0;
  padding: 0;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

html { 
  box-sizing: border-box;
  font-size: 62.5%; // 1 REM = 10 PX
}

body {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
}
